{% extends "cms/base.html"%}
{% block cms_title%}Lexi Menu{% endblock %}
{% block cms_content%}
    <!-- <div class="row">
        <div class="card-body">
            <h5 class="card-title">Bots</h5>
            <button type="button" class="btn btn-outline-primary">View &#xBB</button>
        </div>
        <div class="card-body">
            <h5 class="card-title">Intents</h5>
            <button type="button" class="btn btn-outline-primary">View &#xBB</button>
        </div>
        <div class="card-body">
            <h5 class="card-title">Utterances Bot</h5>
            <button type="button" class="btn btn-outline-primary">View &#xBB</button>
        </div>
    </div>
</div> -->


{% endblock %}